
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: DMSans-BoldItalic;
    src: url(/home/lucas/automata/word2tex/pricing/dmsans/DMSans-BoldItalic.ttf);
  }

body {
    padding: 10px;
    width: 1200px;
    margin: 25px auto 75px auto;
}

.main_text {
    margin: 25px auto 0px auto;
    width: 1200px;
    text-align: justify;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    font-weight: normal;
}

.budget-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 600px);
}

.options {
    display: grid;
    width: 600px;
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
} 

.result {
    width: 500px;
    border: 15px solid rgba(11,156,49, 0.75);
    height: 500px;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 200px 50px 100px 50px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-family: DMSans-BoldItalic;
    font-size: 50px;
}

.buttons {
    margin-top: 10px;
    display: grid;
    align-content: flex-end;
    grid-gap: 5px;
}

